{{define "foot"}}
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery.formautofill.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.additional-methods.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.min.js"></script>
    <script src="/js/fontawesome-all.min.js"></script>
    <script src="/js/bootstrap-slider.min.js"></script>
    <script src="/js/jquery.timer.min.js"></script>
    <script src="/js/auth.js"></script>
{{end}}
