{{define "header"}}
<header class="row">
    <div class="col-md-4">
        <div class="alert alert-primary float-left" role="alert">
            <i>Louis Turpinat, David Soares</i>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card float-right">
            <img src="/img/IUT-logo.png" alt="IUT-logo" style="height: 75px;" class="float-right">
            <div class="card-body">
                <h5 class="card-title">Projet cluster RaspberryPi</h5>
            </div>
        </div>
    </div>
</header>
{{end}}